@font-face {
  font-family: 'SourceSansPro';
  src: url(../fonts/SourceSansPro-Light.ttf); }

@font-face {
  font-family: 'SourceSansProREG';
  src: url(../fonts/SourceSansPro-Regular.ttf); }

@font-face {
  font-family: 'MontserratAlternates';
  src: url(../fonts/MontserratAlternates-ExtraBold.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'SourceSansPro';
  background-color: #d9cdbf;
  color: #fff;
  margin-top: 4rem; }

header {
  background-color: #071A40; }

p {
  line-height: 1.5; }

a {
  text-decoration: none; }

footer {
  background-color: #071A40; }

.titleIn h2 {
  margin-top: 1rem;
  border-bottom: #000 solid; }

.logoHeader {
  font-family: 'MontserratAlternates'; }

.navbarTexto a {
  color: #fff;
  padding: .5rem;
  margin-left: 1rem;
  transition: all 0.3s; }
  .navbarTexto a:hover {
    color: #fff;
    transform: scale(1.3);
    text-shadow: 0px 5px 10px #fff; }
  .navbarTexto a:focus {
    color: #d9cdbf; }

.listBackground {
  background-color: #071A40; }

.footerDerechos {
  color: #d9cdbf;
  box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.5);
  padding: .2rem 0;
  letter-spacing: .2rem;
  word-spacing: .2rem; }

.colorLink {
  transition: all 0.8s; }
  .colorLink i:hover {
    color: #bfa450; }

.link-whatsapp {
  color: #00bb2d; }

.link-instagram {
  color: #C13584; }

.link-facebook {
  color: #3b5998; }

.banner {
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-image: url(../img/menu/fondo.jpg);
  height: 80vh;
  padding: 1rem 5rem; }

.addsTitle {
  color: #071A40;
  font-size: 3rem;
  margin: 2rem;
  font-family: 'SourceSansProREG';
  text-align: center; }

.banner3 {
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-image: url(../img/menu/fondopub.jpg); }

.contentVideo video {
  width: 100%;
  border: solid 2px #d9cdbf;
  border-radius: 2rem; }

.cardBackground {
  background: #071a40;
  background: linear-gradient(0deg, rgba(7, 26, 64, 0.8) 0%, rgba(3, 37, 140, 0.8) 50%, rgba(7, 26, 64, 0.8) 100%); }

.cardEffect {
  transition: all 0.6s; }
  .cardEffect:hover {
    transform: scale(1.05); }

.cardContent a {
  background-color: #022873;
  transition: all 0.8s; }
  .cardContent a:hover {
    background-color: #071A40;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }
  .cardContent a:focus {
    background-color: #bfa450; }

.carBg {
  background-color: #022873;
  box-shadow: inset 15px 0 30px -5px rgba(0, 0, 0, 0.8); }
  .carBg img {
    transition: all 2s; }
    .carBg img:hover {
      transform: rotateY(180deg); }

.banner2 {
  background-image: url(../img/nosotros/fondo.jpg);
  background-size: cover;
  background-attachment: fixed; }

.tituloClientes {
  font-size: 3rem;
  color: #071A40;
  margin: 3rem 1rem;
  border-bottom: #071A40 solid; }

.cardUp {
  background-color: #fff;
  transition: all 0.2s; }
  .cardUp:hover {
    transform: rotate(2deg) translateY(-15px); }

.cardName {
  font-family: 'SourceSansProREG'; }

.effect {
  transition: box-shadow 0.3s; }
  .effect:hover {
    box-shadow: 0 25px 25px -12px rgba(0, 0, 0, 0.4); }

.cajaAutos img {
  background-color: white;
  border: #000 solid 2px;
  border-radius: .5rem;
  box-shadow: inset 0px -15px 50px -5px rgba(7, 26, 64, 0.8);
  transition: all .5s;
  overflow: hidden; }
  .cajaAutos img:hover {
    background-color: rgba(7, 26, 64, 0.2);
    transform: translateY(-15px); }

.cajaTexto, .cTI h3, .cTD h3 {
  font-family: 'SourceSansProREG';
  background: #071a40;
  font-size: 2rem;
  padding: 1rem 1rem; }

.cTI h3 {
  background: linear-gradient(90deg, #071a40 0%, rgba(2, 40, 115, 0.4) 25%, #d9cdbf 100%); }

.cTD h3 {
  background: linear-gradient(270deg, #071a40 0%, rgba(2, 40, 115, 0.4) 25%, #d9cdbf 100%);
  text-align: end; }

.formStyle {
  color: #fff;
  background: #071a40;
  background: radial-gradient(circle, #071a40 0%, #071a40 60%, #022873 100%);
  padding: 1rem; }

.buttonStyle {
  background-color: #fff;
  font-family: 'SourceSansProREG';
  padding: 0 1rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8); }
  .buttonStyle:hover {
    color: #fff;
    background-color: #bfa450; }
